<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>后台-登录</title>
        <link rel="stylesheet" href="/css/frozen.css">
        <link rel="stylesheet" href="/css/index.css">
        <script src="/js/jquery.min.js"></script>
    </head>
	
    <body>
    
        <!-- header -->
        <?php w('Common/admin_header'); ?>
        <!-- header -->
	    
        <!-- Logo -->
        <?php w('Common/common_logo',[]); ?>
        <!-- Logo -->
            
        
        <div class="ui-form ui-border-t">
            <h2 class="ui-center ui-border-b" style="height:80px;">用户登录</h2>
            <form id="login_form" action="/admin/login/todo" method="POST">
                <div class="ui-form-item ui-form-item-pure ui-border-b">
                    <input type="text" name="phone" placeholder="手机号">
                </div>
                <div class="ui-form-item ui-form-item-pure ui-border-b">
                    <input type="password" name="passwd" placeholder="密码">
                </div>
                <!--
                <div class="ui-form-item ui-form-item-r ui-border-b">
                    <input type="text" name="verify_code" placeholder="请输入验证码">
                    <?php  //若按钮不可点击则添加 disabled 类 ?>
                    <button type="button" class="ui-border-l" id="btn_send_code">发送验证码</button>
                </div>
                -->
                <div class="ui-btn-wrap">
                    <button class="ui-btn-lg ui-btn-danger">确定</button>
                </div>
                <ul class="ui-row ui-whitespace">
                        <li class="ui-col ui-col-50"><a href="/Admin/Login/regist">注册</a></li>
                        <li class="ui-col ui-col-50" style="text-align:right;"><a href="/Admin/Login/getPass">忘记密码</a></li>
                </ul>
            </form>
            <div class="ui-tips ui-tips-warn" id="ajax_notice" style="display:none;">
                <i></i><span>警示已经发生或可能在未来发生的问题</span>
            </div>
        </div>
        
        <!-- Footer -->
        <?php w('Common/common_footer',[]); ?>
        <!-- Footer -->

    </body>
</html>